<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>checklogin</servlet-name>
  	<display-name>checklogin</display-name>
  	<description></description>
  	<servlet-class>com.project.checklogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>changeview</servlet-name>
  	<display-name>changeview</display-name>
  	<description></description>
  	<servlet-class>com.project.changeview</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>changeview2</servlet-name>
  	<display-name>changeview2</display-name>
  	<description></description>
  	<servlet-class>com.project.changeview2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>makestock</servlet-name>
  	<display-name>makestock</display-name>
  	<description></description>
  	<servlet-class>com.project.makestock</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>makerules</servlet-name>
  	<display-name>makerules</display-name>
  	<description></description>
  	<servlet-class>com.project.makerules</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>reportdamage</servlet-name>
  	<display-name>reportdamage</display-name>
  	<description></description>
  	<servlet-class>com.project.reportdamage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>invoice</servlet-name>
  	<display-name>invoice</display-name>
  	<description></description>
  	<servlet-class>com.project.invoice</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logout</servlet-name>
  	<display-name>logout</display-name>
  	<description></description>
  	<servlet-class>com.project.logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>changestatus</servlet-name>
  	<display-name>changestatus</display-name>
  	<description></description>
  	<servlet-class>com.project.changestatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>movestocktosh</servlet-name>
  	<display-name>movestocktosh</display-name>
  	<description></description>
  	<servlet-class>com.project.movestocktosh</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>movestocktosh2</servlet-name>
  	<display-name>movestocktosh2</display-name>
  	<description></description>
  	<servlet-class>com.project.movestocktosh2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>checklogin</servlet-name>
  	<url-pattern>/checklogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>changeview</servlet-name>
  	<url-pattern>/changeview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>changeview2</servlet-name>
  	<url-pattern>/changeview2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>makestock</servlet-name>
  	<url-pattern>/makestock</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>makerules</servlet-name>
  	<url-pattern>/makerules</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>reportdamage</servlet-name>
  	<url-pattern>/reportdamage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>invoice</servlet-name>
  	<url-pattern>/invoice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>changestatus</servlet-name>
  	<url-pattern>/changestatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>movestocktosh</servlet-name>
  	<url-pattern>/movestocktosh</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>movestocktosh2</servlet-name>
  	<url-pattern>/movestocktosh2</url-pattern>
  </servlet-mapping>
</web-app>
